.component-contact {
	background-color: $black;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	box-sizing: border-box;
	padding: 20px;

	@media screen and (min-width: 680px) {
		box-shadow: none;
	}

	&__signature {
		align-items: center;
		border-top: 2px dashed $white;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 75px 0;

		&-image {
			svg {
				fill: $white;
				transition: all .3s ease-in;
				width: 100%;
			}

			&:hover {
				svg {
					fill: $orange;
				}
			}
		}

		&-social-block {
			align-items: center;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin: 25px 0;
			max-width: 250px;
			width: 100%;

			@media screen and (min-width: 768px) {
				max-width: 350px;
			}
		}

		&-reach-out {
			color: $white;
			margin-bottom: 25px;
			text-align: center;
		}
	}

	&__social-link {
		height: auto;
		outline: 0;
		text-decoration: none;
		transition: all .2s ease-in;
		width: 36px;

		&--resume {
			width: 25px;

			@media screen and (min-width: 768px) {
				width: 39px !important;
			}
		}

		@media screen and (min-width: 768px) {
			width: 58px;
		}

		img {
			width: 100%;
		}

		@media screen and (min-width: 680px) {
			&:hover {
				transform: translate3d(0, -10px, 0);
			}
		}
	}

	&__form-thankyou {
		color: $white;
		display: flex;
		justify-content: center;
		margin: 100px 0;
		max-width: 800px;
		padding: 15px;
		text-align: center;

		&[hidden] {
			display: none;
		}
	}

	&__form-error {
		align-self: center;
		background-color: $red;
		border-radius: 4px;
		color: $white;
		font-size: 0.75em;
		max-width: 800px;
		padding: 10px;
		width: 97%;

		&[hidden] {
			display: none;
		}

		a {
			color: $white;
		}
	}

	&__form-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 650px;
		transition: all .3s ease-in;

		&[hidden] {
			display: none;
		}
	}

	&__form-input {
		background-color: $black;
		border-bottom: 2px dashed $white;
		border-left: 0;
		border-right: 0;
		border-top: 0;
		color: $white;
		font-family: $font;
		font-size: 1em;
		line-height: 1.4em;
		outline: 0;
		margin: 10px 0;
		padding: 10px 0;
		transition: all .3s ease-in;

		&::placeholder {
			color: $white;
		}

		&--error {
			border-bottom: 2px solid $red;
			border-left: 0;
			border-right: 0;
			border-top: 0;
			color: $red;

			&::placeholder {
				color: $red !important;
			}
		}

		&--text-area {
			height: 300px;
			resize: none;
		}

		@media screen and (min-width: 480px) {
			font-size: 1.125em;
			line-height: 1.5em;
		}

	}
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	border-bottom: 2px solid $white;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	font-size: 1em;
	line-height: 1.4em;
	outline: 0;
	transition: all .3s ease-in;
	-webkit-text-fill-color: $white;
	-webkit-box-shadow: 0 0 0px 1000px $black inset;

	@media screen and (min-width: 480px) {
		font-size: 1.125em;
		line-height: 1.5em;
	}
}