.component-link {
	color: $orange;
	cursor: pointer;
	display: inline-block;
	font-weight: 700;
	position: relative;
	text-decoration: none;
	transition: all .3s ease-in;

	&[hidden] {
		display: none;
	}

	&:after {
		background-color: $orange;
		content: '';
		display: inline-block;
		height: 2px;
		left: 0;
		position: absolute;
		top: 23px;
		transition: width 0.3s ease 0s, left 0.3s ease 0s;
		width: 0;
	}

	&__resume-link {
		color: $black;
		font-weight: 700;

		&:after {
			background-color: $black;
		}
	}

	&__resume-page {
		align-self: center;
		display: flex;
		height: auto;
		margin: 25px 0 10px 0;
		width: 35px;

		img {
			height: auto !important;
			width: 100% !important;
		}

		@media screen and (min-width: 680px) {
			width: 40px;
		}

		@media screen and (min-width: 1024px) {
			align-self: flex-start;
		}
	}

	&--resume {
		color: $black;

		@media screen and (min-width: 680px) {
			&:hover {
				width: 100%;
			}
		}
	}

	&--black-airplane {
		color: $red;

		@media screen and (min-width: 680px) {
			&:after {
				background-color: $red;
			}
		}
	}

	&--resume-link {
		text-transform: uppercase;
	}

	&--submit {
		padding-bottom: 50px;

		&[disabled] {
			opacity: .5;
			pointer-events: none;
		}

		@media screen and (min-width: 680px) {
			&:hover:after {
				width: 57px !important;
			}
		}
	}

	@media screen and (min-width: 680px) {
		&:hover:after {
			width: 100%;
		}
	}
}