.component-project {
	border-top: 2px dashed $black;
	display: flex;
	flex-direction: column;
	margin-bottom: 35px;

	&:nth-last-child(1) {
		margin-bottom: 0;
	}

	&__logo {
		display: block;
		margin: 75px auto;
		outline: 0;

		img {
			width: 100%;
		}
	}
}