.typography {

	&__copy {
		font-size: .9em;
		line-height: 1.35em;
		margin-bottom: 20px;

		&--light {
			color: $white;
		}

		&--resume {
			font-size: .65em;
			margin: 2px 0;

			a {
				color: $black;
				font-weight: 700;
			}

			strong {
				font-weight: 700;
			}

			em {
				font-style: italic;
			}

			@media screen and (min-width: 680px) {
				font-size: .85em;
			}
		}

		&--project {
			margin: 5px 0;

			em {
				font-style: italic;
			}

			strong {
				font-weight: 700;
				letter-spacing: .5px;
			}
		}

		&--tech {
			color: $grey;
			font-style: italic;
			margin-top: 20px;
		}

		@media screen and (min-width: 680px) {
			font-size: 1em;
		}
	}

	&__resume-headline {
		border-bottom: 1px dashed $black;
		color: $orange;
		font-size: 1em;
		font-weight: 700;
		margin-bottom: 20px;
		padding-bottom: 15px;
		text-transform: uppercase;

		@media screen and (min-width: 680px) {
			font-size: 1.15em;
		}

		&:nth-child(1n+2) {
			margin-top: 25px;
		}
	}

	&__title-headline {
		color: $white;
		font-size: .8em;
		letter-spacing: 1.15px;
		line-height: 1.25em;
		margin-left: 15px;
		max-width: 250px;
		text-transform: uppercase;

		em {
			color: $orange;
			font-weight: 700;
		}

		@media screen and (min-width: 360px) {
			font-size: 1em;
		}

		@media screen and (min-width: 450px) {
			font-size: 1.3em;
			max-width: 100%;
		}

		@media screen and (min-width: 680px) {
			font-size: 2.025em;
			line-height: 1.15em;
		}
	}

	&__work-headline {
		color: $black;
		font-size: 1.5em;
		line-height: 1.35em;
		margin-bottom: 20px;

		em {
			color: $orange;
			font-weight: 700;
			letter-spacing: .65px;
			text-transform: uppercase;
		}

		&--light {
			color: $white;
		}

		@media screen and (min-width: 680px) {
			font-size: 1.85em;
			line-height: 1.5em;
		}
	}
}