// Reset
@import 'reset';

// Colors
$black: #000;
$background: #0F1217;
$grey: #8F8F8F;
$orange: #F27124;
$navy: #070b1b;
$red: #E63C2F;
$white: #FFF;
$offwhite: #EDF0F9;
$teal: #00a2e8;
$brown: #a3463d;

// Fonts
$font: 'Fira Mono', monospace;

// Components
@import 'components/about';
@import 'components/contact';
@import 'components/links';
@import 'components/project';
@import 'components/resume';
@import 'components/work';
@import 'typography';

body, html {
	background-color: rgba($background, .8);
	color: $black;
	font-family: $font;
	font-size: 16px;
	line-height: 24px;
	width: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;

	#root {
		width: 100%;
	}
}

.component-app {
	width: 100%;
}

#wrap {
	background-color: $white;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	box-sizing: border-box;
	margin: 0 auto;
	width: 100%;

	@media screen and (min-width: 680px) {
		max-width: 600px;
	}
}

#resume-wrap {
	background-color: $offwhite;
	color: $black;
	height: auto;
	margin: 0 auto;
	width: 100%;

	@media screen and (min-width: 680px) {
		min-height: 100%;
	}
}