// Reset
@import 'reset';

// Colors
$black: #222;
$grey: #8F8F8F;
$orange: #F27124;
$red: #E63C2F;
$white: #EFEFEF;

// Fonts
$font: 'Fira Mono', monospace;

// Components
@import 'components/about';
@import 'components/contact';
@import 'components/links';
@import 'components/project';
@import 'components/work';
@import 'typography';

body, html {
	background-color: $black;
	color: $black;
	font-family: $font;
	font-size: 1.125em;
	line-height: 1.5em;
	height: 100%;
	width: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;

	#root {
		height: 100%;
		width: 100%;
	}
}

.component-app {
	height: 100%;
	width: 100%;

	#wrap {
		background-color: $white;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
		box-sizing: border-box;
		margin: 0 auto;
		width: 100%;

		@media screen and (min-width: 680px) {
			max-width: 600px;
		}
	}
}