// Reset
@import 'reset';

// Colors
$red: #E54E6F;
$black: #333;
$white: #FFF;
$green: #48A65B;
$orange: #FBB849;

// Fonts
$font: 'Fira Mono', monospace;

// Components
@import 'components/typography';

body, html {
	background-color: $black;
	color: $white;
	font-family: $font;
	font-size: 1.125em;
	line-height: 1.5em;
	height: 100%;
	width: 100%;

	#root {
		height: 100%;
		width: 100%;
	}
}

.component-app {
	height: 100%;
	width: 100%;
}